<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.sbgen.mapper.IAuthInfoAdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.example.sbgen.entity.AuthInfoAdmin">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="realname" property="realname" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
        <result column="avatar" property="avatar" />
        <result column="birthday" property="birthday" />
        <result column="sex" property="sex" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="org_code" property="orgCode" />
        <result column="status" property="status" />
        <result column="del_flag" property="delFlag" />
        <result column="activiti_sync" property="activitiSync" />
        <result column="work_no" property="workNo" />
        <result column="post" property="post" />
        <result column="telephone" property="telephone" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
